body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
b {
  color: #1abc9c;
}

.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.header h1 {
  font-size: 75px;
}
.header p {
  font-size: 35px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a.right {
  float: right;
}
.navbar a:hover {
  background-color: #1fe0ba;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
@media screen and (max-width: 500px) {
    .row {
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.footer {
  padding: 40px;
  text-align: left;
  background: #ddd;
}
