body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
b {
  color: #1abc9c;
}

.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.header h1 {
  font-size: 75px;
  text-shadow: 1px 4px #094338;
}
.header p {
  font-size: 35px;
  text-shadow: 1px 3px #094338;
}

.banner {
  padding: 40px;
  text-align: left;
  background: #1abc9c;
}
.banner a {
  font-size: 50px;
  text-shadow: 1px 3px #094338;
  text-decoration: none;
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a.right {
  float: right;
}
.navbar a:hover {
  background-color: #1fe0ba;
  color: black;
}
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
}
.side {
  padding-left: 30px;
}
.main {
  background-color: white;
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

.footer {
  padding: 30px;
  text-align: left;
  background: #ddd;
}
